.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: gray;
}

.register-form {
  margin: 16px;
  padding: 16px;
  width: 500px;
  background-color: white;
  border-radius: 4px;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.login-title {
  margin: 0 8px;
  font-weight: normal;
  cursor: pointer;
}

.login-title.active {
  margin: 0 8px;
  padding-bottom: 4px;
  color: #0d6efd;
  border-bottom: 2px solid #0d6efd;
}
